@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: Quicksand, Roboto, Lato;
}
.header, .footer {
    background-color: #1F2937;  
    display: flex;
    align-items: center;
}

.header {
    justify-content: space-between;
    padding: 12px 144px;
    height: auto;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}


ul {
    display: flex;
    list-style-type: none;
    color: white;
    padding: 0;
    margin: 0;
    gap: 32px;
}

.hero {
    display: flex;
    padding: 12px 144px;
    height: 360px;
    background-color: #1F2937;
    color: white;
}

.promone {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}
.promotwo {
    font-size: 18px;
    color: #E5E7EB;
}

.button {
    background-color: #31d2b1;
    border: none;
    border-radius: 4px;
}

.steps {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imagesteps {
    display: flex;
    gap: 32px;
}

.imagesteps img {
    border-radius: 20px;
    height: 144px;
    width: 144px;
}

.quote {
    height: 200px;
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.callaction {
    height: 100px;
    display: flex;
    align-items: center;
    margin: 144px;
    background-color: #31d2b1;
    padding: 36px 72px;
}

.buttontwo {
    margin-left: auto;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100px;
    color: white;
    gap: 8px;
}