@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: Quicksand, Roboto, Lato;
}
.header, .footer {
    background-color: #1F2937;  
    display: flex;
    align-items: center;
}

.header {
    justify-content: space-between;
    padding: 12px 144px;
    height: auto;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}


ul {
    display: flex;
    list-style-type: none;
    color: white;
    padding: 0;
    margin: 0;
    gap: 32px;
}

.hero {
    display: flex;
    padding: 12px 144px;
    height: 360px;
    background-color: #1F2937;
    color: white;
}

.top-message {
    display: flex;
    flex-direction: column;
    gap: 28px;
}

.saving {
    height: 300px;
    width: auto;
}

.message-one {
    font-size: 42px;
    font-weight: bolder;
    color: #F9FAF8;
}
.message-two {
    font-size: 18px;
    color: #E5E7EB;
}

.message-three {
    font-size: 28px;
    font-weight: bold;
    color: #1F2937;
    margin: 28px;
}

button {
    border-radius: 8px;
    padding: 8px 32px;
    cursor: pointer;
}

.default {
    background-color: #31d2b1;
    border: 1px solid #31d2b1;
    color: white; 
}

.steps {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-steps {
    display: flex;
    gap: 32px;
    padding-bottom: 72px;
}

.image-steps img {
    border-radius: 20px;
    height: 144px;
    width: 144px;
    object-fit: cover;
}

.register {
    display: flex;
    flex-direction: column;
    gap: 28px;
}

.bank {
    display: flex;
    flex-direction: column;
    gap: 28px;
}

.goal {
    display: flex;
    flex-direction: column;
    gap: 28px;
}

.growth {
    display: flex;
    flex-direction: column;
    gap: 28px;
}

.quotes {
    height: 200px;
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.quote {
    font-size: 28px;
    font-style: italic;
    font-weight: 100;
    width: 850px;
}

.action {
    height: 100px;
    display: flex;
    align-items: center;
    margin: 144px;
    background-color: #31d2b1;
    padding: 36px 72px;
    border-radius: 10px;
}

.light {
    margin-left: auto;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100px;
    color: white;
    gap: 8px;
}